SPRING_PROFILES_ACTIVE=dev

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=url_shortener
POSTGRES_USER=app_user
POSTGRES_PASSWORD=change-me-local-password

REDIS_HOST=localhost
REDIS_PORT=6379

LOCALSTACK_ENDPOINT_URL=http://localhost:4566
LOCALSTACK_PORT=4566
AWS_REGION=us-east-1

# AWS credentials for local development
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
SES_FROM_EMAIL=no-reply@url-shortener.local

DYNAMODB_URL_TABLE_NAME=url
DYNAMODB_URL_COUNTER_TABLE_NAME=url_counter

SQS_URL_REDIRECT_EVENTS_QUEUE_NAME=url-redirect-events-queue
SQS_URL_REDIRECT_EVENTS_DLQ_NAME=url-redirect-events-dlq
SQS_EMAIL_VERIFICATION_EVENTS_QUEUE_NAME=email-verification-events-queue
SQS_EMAIL_VERIFICATION_EVENTS_DLQ_NAME=email-verification-events-dlq

APP_BASE_URL=http://localhost:8080
